<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
   <!--ruta para acceder a la carpeta donde se encuentra nuestros estilos-->
   <link rel="stylesheet" href="/static/css/estilos.css">
  
    <title>Block Hopper</title>
</head>
<!--llamamos la función startGame-->
<body onload="startGame()">
    <!--div centrado-->
    <div class="col-auto p-5 text-center">
         <!--lienzo-->
    <div id="canvas" ></div>
    <!--Título de nuestra subpage-->
        <h1>Block Hopper</h1>
    </div>
   
</body>
 <!--ruta para acceder a la acarpeta donde se encuentra nuestro js-->
 <script src="/static/js/funciones.js"></script>
</html>