
/*llamamos a nuestro id
definimos color de borde solido y le asignamos una imagen de fondo del lienzo
*/
canvas {
    border: 2px solid black;
    background-image: url(https://thumbs.dreamstime.com/z/fondo-del-juego-pixel-99876780.jpg);
}
/*damos tipo de letra cursiva y una sombra al título*/
h1{
   font-family: cursive;
   text-shadow: rgb(25, 154, 72) 0.1em 0.1em 0.2em
}