<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Enlazamos el link a nuestro archivo css donde se encuentran los estilos-->
    <link rel="stylesheet" href="./static/css/estilos.css">
    <title>Block Hopper</title>
</head>
<!--llamamos la función startGame-->
<body onload="startGame()">
    <div id="canvas"></div>
    <!--Título de nuestra subpage-->
        <h1>Block Hopper</h1>
    <!--Enlazamos link a nuestro archivo js donde se encuentran las funciones-->
    <script src="./static/js/funciones.js"></script>
</body>

</html>